body {
  background-color:  #f5f3f1;
  position: relative;
  /*
  lighter: FFFEFB
  darker: F5F2F0
  */
}


.navbar {
    max-width: 1200px; 
    margin: auto;
}

.nav-item a:hover {
  text-decoration: none;
}

.leftcol {
}

.rightcol {
  margin-left: 0px;
  z-index: -1;
  right: 10px;
  bottom: 10px;
}

.ctabutton {
  background-color: blueviolet;
  color: white;
  box-shadow: 0px 0px 3px 3px rgba(137, 43, 226, 0.247)
}

.ctabutton:hover {
  background-color: rgb(82, 27, 133);
  color: white;
}


.videocontainer {
  width: 90%;
}

.modal-dialog {
  max-width: 1200px;
  margin: 30px auto;
}

.modal-body {
position:relative;
padding:0px;
}
.close {
position:absolute;
right:-30px;
top:0;
z-index:999;
font-size:2rem;
font-weight: normal;
color:#fff;
opacity:1;
}


.cta-link:hover {
  text-decoration: underline;
}

.bannersection {
    /* background-image: url(https://placenote.com/tempdabblesite/media/walltexture_white.png); */

    background-repeat: repeat;
    padding-top: 6rem;
    padding-bottom: 1rem;
    
}

.headertitle {
    font-size: 60px;
    font-weight: 600;
}

.underthefoldbanner {
    font-size: 50px;
    font-weight: 400;
    color: rgb(122, 122, 122);
}

.sectionbanner {
    font-size: 50px;
    font-weight: 250;
}


.underthefoldbanner strong {

    font-weight: 500;

}

.sectionheader {
    font-size: 45px;
    font-weight: 600;

}

.pagecontainer {
  left: 0;
  position: relative;
  top: 0;
  width: 100%;
}

#content {
  overflow: hidden;
  position: relative;
}

.particle {
  pointer-events: none;
  position: absolute;
  will-change: transform;
}


.spacer {
    height: 50px;
}

  
  @media only screen and (max-width: 740px) {

    .rightcol {
      margin-top: 50px;
    }

    .videocontainer {
      width: 100%;
    }

    .headertitle {
      font-size: 40px;
      font-weight: 600;
  }
  }



