body {
  background-color:  #f5f3f1;
  /*
  lighter: FFFEFB
  darker: F5F2F0
  */
}

/* .navbar {
    background-color: white;
} */

.rightcol {
  margin-top: -80px;
  z-index: -1;
}

.videocontainer {
  float: right;
  width: 90%;
}

.modal-dialog {
  max-width: 1200px;
  margin: 30px auto;
}

.modal-body {
position:relative;
padding:0px;
}
.close {
position:absolute;
right:-30px;
top:0;
z-index:999;
font-size:2rem;
font-weight: normal;
color:#fff;
opacity:1;
}


.cta-link:hover {
  text-decoration: underline;
}

.bannersection {
    /* background-image: url(https://placenote.com/tempdabblesite/media/walltexture_white.png); */

    background-repeat: repeat;
    padding-top: 6rem;
    padding-bottom: 1rem;
    
}

.headertitle {
    font-size: 70px;
    font-weight: 600;
}

.underthefoldbanner {
    font-size: 50px;
    font-weight: 400;
    color: rgb(122, 122, 122);
}

.sectionbanner {
    font-size: 50px;
    font-weight: 250;
}


.underthefoldbanner strong {

    font-weight: 500;

}

.sectionheader {
    font-size: 45px;
    font-weight: 600;

}




.spacer {
    height: 50px;
}

  
  @media only screen and (max-width: 1000px) {
    .rightcol {
      margin-top: 40px;
    }

    .videocontainer {
      width: 100%;
    }
  }



